/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align:justify;
    font-size: 18px;

}
/* .btn-primary:hover{
    background-color: red;
    border: 3px solid black;
} */
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
#blinking-button { 
    background-color: red;
    color: white;
    cursor: pointer;
    animation: blink 0.4s infinite; /* Apply continuous blinking animation */
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related css */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

. banner .profile-picture {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747 margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 500px;
}

/*main section styles */


/*about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

main {
    max-width: 1140px;
    /* display: flex;
    align-items: center;
    justify-content: center;    */
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.what-i-do-description {
    padding: 30px 150px;
}

/* skills related style */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-description {
    color: #757575;
}

/* Resume section style */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-column {}

.resume-item-title {
    color: #474747;
    
    font-size: 25px;
  
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-institute,
.resume-item-description {
    color: #757575;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* .footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px; 
} */
footer{
    display: flex;
    gap: 100px;
    justify-content: center;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;

}
.footer-column{
    width: 500px;
}
.contact input[type = "text"], .contact input[type="email"],textarea{
display: block;
margin-bottom: 25px;
padding: 18px 35px;
color: #757575;
border-radius: 5px;
background:#FFF;
border: 0;
width: 100%;
}
.social-links a{
    margin-right: 25px;
}
p {
    text-align: justify;
}
.hide{
    display: none;
}

@media screen and (max-width: 576px){
    .header{
        background-image: none;
    }
    .skills-container, .resume-container, footer, nav , .banner{
        flex-direction: column;
    }
    .banner, .resume-container, #what-i-do-description, .about {
        padding: 0 30px;
    }
    footer{
        padding: 10px;
    }
    .footer-column{
        width: 100%;
    }
    .banner .profile-picture{
        width: 100%;
    }
    .contact input[type = "text"], .contact input[type="email"],textarea{
        
        width: 80%;   
        }
    .about-info-container{
        flex-wrap: wrap;
    }
    .btn-primary{
        margin-bottom: 20px;
    }
    .skill .img-center{
        text-align: center;
        display: flex;
            justify-content: center;
            align-items: center;
    }
    .skill h3{
        text-align: center;
    }
        
}
@media screen and (min-width: 577px) and (max-width: 992px){
    .skills-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
}

.resume-item{
    padding-left: 40px;
}
}